<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>INFORMACIÓN ADICIONAL (LEGITIMACIÓN ART. 6.1.E REGLAMENTO GENERAL DE PROTECCIÓN DE DATOS INTERÉS PÚBLICO)</h2>
    <h3>¿Quién es el responsable del tratamiento de sus datos personales?</h3>
    <div>
      <strong><span>Responsable</span></strong>
      <br>
      <span>Identidad: Ilustre Ayuntamiento de El Rosario [P3803200I]</span><br>
      <span>Dirección Postal: Plaza del Ayuntamiento, 1. El Rosario. 38290 Santa Cruz de Tenerife</span><br>
      <span>Teléfono: 922010160</span><br>
      <span>Correo electrónico: alcaldia@ayuntamientoelrosario.org</span><br><br>
      <strong><span>Delegado de Protección de Datos</span></strong><br>
      <span>Datos de contacto:</span><br><br>
      <p>Correo postal: Registro General. Plaza del Ayuntamiento, 1. El Rosario. 38290 Santa Cruz de Tenerife</p>
    </div>

    <h3>¿Con qué finalidad tratamos sus datos?</h3>
    <p>En esta Entidad tratamos la información obtenida con la finalidad de poder tramitar los expedientes administrativos y las actuaciones derivadas de ellos.</p>

    <h3>¿Por cuánto tiempo conservaremos sus datos?</h3>
    <p>Almacenamos los datos durante el tiempo necesario para poder cumplir con las obligaciones legales que encomienda la normativa administrativa, y siempre, cumpliendo al menos con el tiempo mínimo de conservación de la información. Será de aplicación
      lo dispuesto en la normativa de archivos y documentación.</p>

    <h3>¿Existencia de decisiones automatizadas?</h3>
    <p>Esta Entidad puede tomar decisiones automatizadas basadas en la cobertura legal que le otorga el artículo 41 de la Ley 40/2015, de 1 de octubre, de Régimen Jurídico del Sector Público. Sería cualquier acto o actuación realizada íntegramente a
      través de medios electrónicos en el marco de un procedimiento administrativo y en la que no haya intervenido de forma directa una persona.</p>
    <p>Deberá de regularse la toma de decisiones automatizadas en una normativa propia, definiendo en la misma las especificaciones, programación, mantenimiento, supervisión y control de calidad. Dicha normativa estará a disposición de los ciudadanos en
      la sede electrónica de esta Entidad.</p>

    <h3>¿Cuál es la legitimación para el tratamiento de sus datos personales?</h3>
    <p>La base legal para el tratamiento de sus datos es el cumplimiento de una misión que es realizada en interés público o en el ejercicio de poderes públicos, de conformidad con la Ley 39/2015, de 1 de octubre, de Procedimiento Administrativo Común.</p>

    <h3>¿A qué destinatarios se comunicarán sus datos?</h3>
    <p>Los datos se comunicarán a otras Administraciones Públicas siempre que sea necesario para cumplir con los fines enumerados anteriormente, siempre que exista normativa legal que lo ampare.</p>
    <p>Además, la Entidad tiene contratada la herramienta GESTIONA con la empresa ESPUBLICO SERVICIOS PARA LA ADMINISTRACIÓN LOCAL S.A. que es el encargado del tratamiento de los datos según el contrato de encargo firmado entre las partes.
    </p>

    <h3>¿Cuáles son sus derechos en relación con los datos facilitados?</h3>
    <span>
      <p>Cualquier persona tiene
        <strong>derecho a obtener información
        </strong>sobre si en esta Entidad se están tratando sus datos personales o no. Las personas interesadas tienen
        <strong>derecho a acceder
        </strong>a sus datos personales, el plazo de conservación de sus datos, incluso a obtener una copia de los datos objeto del tratamiento.
      </p>
      <p>Asimismo, tiene
        <strong>derecho de rectificación
        </strong>de los datos si son inexactos. (Por ejemplo, puede solicitar una rectificación de su domicilio, un cambio de nombre, etc.)
      </p>
      <p>Los interesados tienen
        <strong>derecho a la limitación del tratamiento,
        </strong>para ello deberán de solicitarlo al responsable, el cual deberá de suspender el tratamiento de los datos cuando los ciudadanos soliciten la rectificación o supresión de sus datos, hasta que se resuelva su solicitud.
      </p>
      <p>Los interesados podrán ejercer el
        <strong>derecho de supresión
        </strong>(derecho al olvido) siempre que se den las circunstancias enumeradas en el RGPD.
      </p>
      <p>El afectado puede ejercer el
        <strong>derecho de oposición
        </strong>al tratamiento, siempre por motivos relacionados con su situación personal, con la excepción del que se acredite un interés legítimo, o sea necesario para el ejercicio o defensa de reclamaciones. Igualmente, cuando el tratamiento tenga por
        objeto la mercadotécnica directa.
      </p>
      <p>El interesado tendrá
        <strong>derecho a la portabilidad
        </strong>a obtener los datos en un formato estructurado, de uso común y de lectura mecánica, y a transmitirlos a otro responsable del tratamiento cuando el tratamiento esté basado en el consentimiento o se efectúe por medios automatizados
      </p>
      <p>Los interesados podrán ejercer los derechos enumerados en los párrafos anteriores, a través de los formularios disponibles en la sede electrónica de esta entidad o remitiendo a la misma un escrito por correo postal.
      </p>
    </span>
    <div>

      <div>
        <br>
        <h3>
          Trámite electrónico
        </h3>
        <table>
          <tbody>
            <tr>
              <td>Ejercicio de los Derechos de Rectificación, Supresión, Limitación, Portabilidad u Oposición en relación con Datos de Carácter Personal</td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2TETi66CrCosfHrTGzW0utvvuKs8pFoGqY" target="_blank">Información</a></td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2RJLSERu0b6XZtmz1hbeEBBkFzqerpdm*njgulNkN*QOQ" target="_blank">Descargar Instancia</a></td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2TpJc0ujN2UKPyU*cVl*DROV4gbtcbH3SH2iwHVDbbFwQ" target="_blank">Tramitación Electrónica</a></td>
            </tr>
            <tr>
              <td>Ejercicio del Derecho de Acceso (Datos de Carácter Personal)</td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2SaOCI4PQ7QaT1qCpeDsWG8cNu1h6wrE*I" target="_blank">Información</a></td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2Tb8ju1GnZYi5SYNbKS3YwK8IFi2wc6RNC-j57KvA97uw" target="_blank">Descargar Instancia</a></td>
              <td><a href="https://elrosario.sedelectronica.es/privacy.1?x=r3FLKSU*4wt6*Qpv1Zza9I54AQLGNiRhevcNDIItmwpjIvquhKb2ddn1K6C-CuPceNx-fuNFb2SJNI6l-qVwjewj7TDB*13LV8qzQDsV2UfFtac-8*1Z8g" target="_blank">Tramitación Electrónica</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <h3>¿Cuándo puedo ejercer el derecho de reclamación ante la Autoridad de Control?</h3>
    <p>Podrá presentar reclamación ante la Autoridad de Control en materia de Protección de Datos competente, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos, mediante escrito dirigido a la Agencia Española de
      Protección de Datos, C/Jorge Juan nº 6, 28001 Madrid o bien accediendo a su sede electrónica:
      <a target="_blank" href="https://sedeagpd.gob.es/sede-electronica-web/">https://sedeagpd.gob.es/sede-electronica-web/</a>
    </p>

    <h3>¿Políticas de cookies?</h3>
    <p>Podrá acceder a la política de cookies en la sede electrónica de la Entidad:
      <a target="_blank" href="https://elrosario.sedelectronica.es/cookies">Política de Cookies</a>
    </p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>
