// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.button {
  background: $link;
  &:hover {background: $link-hover}
}

.auth-image h1 img{
  height: 100%;
  width: auto;
}
